@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
    background-color: black;
    color: #FFF;
    align-content: center;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.container-body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin: 150px;
    margin-top: 0;
    margin-bottom: 0;

}

.inicio {
    display: flex;
    height: auto;
    align-content: space-between;
}

.perfil-logo {
    vertical-align: middle;
    border-style: none;
    width: 80%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50%;
}

.perfil-logo:hover {
    vertical-align: middle;
    border-style: none;
    width: 90%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;

}

.nome {
    color: #552383;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;

}

.nome:hover {
    text-decoration: underline;
}


.sobreMim {
    text-align: right;
}

.euSobre {
    text-align: right;
}

.meio {
    display: flex;
    height: 200.800px;
    flex-flow: column wrap;
    align-content: space-between;
    margin: 0px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: left;
}

.cargo {
    margin-top: 0;
}

.subtitulo {
   color:#552383;
    font-size: 40px;
}

@media (max-width: 850px) {
    .meio {
        height: auto;
        align-content: center;
    }
    
}
@media (max-width: 652px) {
    
    .perfil-logo {
        visibility: hidden;
    }
}
@media (min-width: 2400px) {
    .perfil-logo {
        width: 50%;
    }
    .perfil-logo:hover {
        width: 60%;
    }
    .nome {
        font-size: 100px;
    
    }
    .sobreMim {
        font-size: 25px;
    }
    
    .euSobre {
        font-size: 30px;
    }
    .subtitulo {
         font-size: 100px;
         margin: 0;
     }
     .meio {
        height: 334px;
    }
    .li {
        font-size: 30px;
    }
    .cargo {
        font-size: 30px;
    }
    
}